nav ul {
  background: rgba(46, 46, 46, 0.3);
  backdrop-filter: blur(5px);
  list-style-type: none;
  height: 36px;
  padding: 0;

  margin-top: 5px;
  font-size: 20px;
}




a {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

nav ul li {
  background: transparent;
  color:white;
  display: inline;
  margin-right: 20px; 
  margin-top: 5px;
}

.left {
  float:left;
}

* {
  background-color: #121212;
  
  font-family: Arial;
}

p,
h1,
h2,
h3 {
    line-height: 1.5;
    font: size 22px;
    color: white;
    position: relative;
    z-index: 10;
}

.searchbar {
  width:210px;
  height:36px;
  border-radius: 2px;
  background-color: #292929;
  border-color: transparent;
  position: sticky;
}